In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window
from pyspark.sql.types import IntegerType

In [25]:
spark = SparkSession.builder.getOrCreate()

data_path = "../StudentsPerformance.csv"
df = spark.read.csv(data_path, header=True)

print(df.columns)

keys = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']
target = 'math score'

df = df \
    .withColumnRenamed(keys[0], keys[0][0]) \
    .withColumnRenamed(keys[1], keys[1][0]) \
    .withColumnRenamed(keys[2], keys[2][0]) \
    .withColumnRenamed(keys[3], keys[3][0]) \
    .withColumnRenamed(keys[4], keys[4][0])
keys = list(map(lambda key: key[0], keys))

In [26]:
print("columns: ", df.columns)
print("# of rows: ", df.count())

df.select('gender').distinct().show(100)
df.select('race/ethnicity').distinct().show(100)
df.select('parental level of education').distinct().show(100)
df.select('lunch').distinct().show(100)
df.select('test preparation course').distinct().show(100)

df.select(F.isnan('gender'),
          F.isnan('race/ethnicity'),
          F.isnan('parental level of education'),
          F.isnan('lunch'),
          F.isnan('test preparation course'))

columns:  ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
# of rows:  1000

In [27]:
agg_df = df.cube(*keys).agg(F.avg(F.col(target)), F.var_pop(F.col(target))) \
   .fillna('All', keys)
    
agg_df.filter("g='female' and r='All' and p='All' and l='All' and t='All'").show()

w = Window.partitionBy("g", "r", "p", "l", "t").orderBy('math score')
rank_df = df.withColumn("rank", F.rank().over(w))
rank_df.orderBy(*keys).show()

df.groupBy(*keys).agg(F.avg(target), F.var_pop(target), F.count(F.lit(1))/2) \
  .withColumnRenamed('avg(math score)', 'avg') \
  .withColumnRenamed('var_pop(math score)', 'var') \
  .withColumnRenamed('(count(1) / 2)', 'med_rank_double') \
  .withColumn('med_rank', F.col('med_rank_double').cast(IntegerType())) \
  .join(rank_df, keys, 'left') \
  .filter("rank == med_rank") \
  .select(*keys, 'avg', 'var', 'math score') \
  .orderBy(*keys) \
  .show()

+------+
|gender|
+------+
|female|
|  male|
+------+

+--------------+
|race/ethnicity|
+--------------+
|       group B|
|       group C|
|       group D|
|       group A|
|       group E|
+--------------+

+---------------------------+
|parental level of education|
+---------------------------+
|           some high school|
|         associate's degree|
|                high school|
|          bachelor's degree|
|            master's degree|
|               some college|
+---------------------------+

+------------+
|       lunch|
+------------+
|free/reduced|
|    standard|
+------------+

+-----------------------+
|test preparation course|
+-----------------------+
|              completed|
|                   none|
+-----------------------+

DataFrame[isnan(gender): boolean, isnan(race/ethnicity): boolean, isnan(parental level of education): boolean, isnan(lunch): boolean, isnan(test preparation course): boolean]

In [29]:
df.select('gender').distinct().show(100)

+------+
|gender|
+------+
|female|
|  male|
+------+

+------+-------+------------------+------------+---------+----------+-------------+-------------+----+
|     g|      r|                 p|           l|        t|math score|reading score|writing score|rank|
+------+-------+------------------+------------+---------+----------+-------------+-------------+----+
|female|group A|associate's degree|free/reduced|     none|        37|           57|           56|   1|
|female|group A|associate's degree|free/reduced|     none|        41|           51|           48|   2|
|female|group A|associate's degree|free/reduced|     none|        65|           85|           76|   3|
|female|group A|associate's degree|    standard|completed|        55|           65|           62|   1|
|female|group A|associate's degree|    standard|completed|        65|           70|           74|   2|
|female|group A|associate's degree|    standard|     none|        82|           93|           93|   1|
|female|group A| bachelor's degree|    standard|     none|        59|           72|           70|   3|
|female|group A| bachelor's degree|    standard|     none|        45|           59|           64|   1|
|female|group A| bachelor's degree|    standard|     none|        51|           49|           51|   2|
|female|group A|       high school|free/reduced|completed|        77|           88|           85|   3|
|female|group A|       high school|free/reduced|completed|        34|           48|           41|   1|
|female|group A|       high school|free/reduced|completed|        53|           50|           60|   2|
|female|group A|       high school|    standard|completed|        75|           82|           79|   2|
|female|group A|       high school|    standard|completed|        68|           80|           76|   1|
|female|group A|       high school|    standard|     none|        55|           73|           73|   1|
|female|group A|       high school|    standard|     none|        61|           68|           63|   2|
|female|group A|   master's degree|free/reduced|     none|        50|           67|           73|   1|
|female|group A|   master's degree|    standard|     none|        50|           53|           58|   1|
|female|group A|      some college|free/reduced|     none|        61|           60|           57|   2|
|female|group A|      some college|free/reduced|     none|        49|           65|           55|   1|
+------+-------+------------------+------------+---------+----------+-------------+-------------+----+
only showing top 20 rows

+------+-------+------------------+------------+---------+------------------+------------------+----------+
|     g|      r|                 p|           l|        t|               avg|               var|math score|
+------+-------+------------------+------------+---------+------------------+------------------+----------+
|female|group A|associate's degree|free/reduced|     none|47.666666666666664|152.88888888888889|        37|
|female|group A|associate's degree|    standard|completed|              60.0|              25.0|        55|
|female|group A| bachelor's degree|    standard|     none|51.666666666666664|32.888888888888886|        45|
|female|group A|       high school|free/reduced|completed|54.666666666666664|309.55555555555554|        34|
|female|group A|       high school|    standard|completed|              71.5|             12.25|        68|
|female|group A|       high school|    standard|     none|              58.0|               9.0|        55|
|female|group A|      some college|free/reduced|     none|              55.0|              36.0|        49|
|female|group A|      some college|    standard|completed|              75.0|               9.0|        72|
|female|group A|      some college|    standard|     none|             59.25|           33.6875|        56|
|female|group A|  some high school|free/reduced|     none|              46.4|48.239999999999995|        44|
|female|group A|  some high school|free/reduced|     none|              46.4|48.239999999999995|        44|
|female|group A|  some high school|    standard|completed| 78.66666666666667|201.55555555555554|        59|
|female|group A|  some high school|    standard|     none|              59.5|            132.25|        48|
|female|group B|associate's degree|free/reduced|completed|              72.0|              16.0|        68|
|female|group B|associate's degree|free/reduced|     none|              51.6| 8.239999999999995|        52|
|female|group B|associate's degree|    standard|completed|              71.2|            298.96|        59|
|female|group B|associate's degree|    standard|     none| 62.09090909090909|186.08264462809916|        57|
|female|group B| bachelor's degree|free/reduced|     none| 76.66666666666667|1.5555555555555556|        75|
|female|group B| bachelor's degree|    standard|completed|              65.5|              0.25|        65|
|female|group B| bachelor's degree|    standard|     none| 70.66666666666667|194.88888888888889|        67|
+------+-------+------------------+------------+---------+------------------+------------------+----------+
only showing top 20 rows

+------+---+---+---+---+------------------+-------------------+
|     g|  r|  p|  l|  t|   avg(math score)|var_pop(math score)|
+------+---+---+---+---+------------------+-------------------+
|female|All|All|All|All|63.633204633204635|   239.521831815268|
+------+---+---+---+---+------------------+-------------------+

In [33]:
keys

['g', 'r', 'p', 'l', 't']